*, *::before, *::after {
    box-sizing: border-box;
  }
  
  body {
    display: flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(to right, #00AAFF, #00FF6C);
    margin-top: 7%;
  }
  
  
  .onpress > button:hover,
  .onpress > button:focus {
    background-color: rgba(255, 255, 255, .9);
  }
  
.calculator{
  border: 1px solid black;
  width: 24rem;
  
}
.onpress{
  display: flex;
  justify-content: center;
}
.onpress button{
  width: 6rem;
  padding: 2rem;
  font-size: large;
  font-style:oblique;
  font-weight: bold;
  background: linear-gradient(to right, #00AAFF, #00FF6C);;
}
.delete{
  width: 100%;
  border: 2px solid black;
  padding: 1.5rem;
  font-size: large; font-weight: bold;
  background: linear-gradient(to right, #00AAFF, #00FF6C);
}
.output{
border: 1px solid black;
height: 7rem;
border-bottom: none;
font-size: xx-large; font-weight: bold;
 background: linear-gradient(to right, #00AAFF, #00FF6C);
 width: auto;
}